.txt-primary {
    color: #f0f0f0;
}
.txt-secondary {
    color: #B0ABA0;
}
.txt-tertiary {
    color:#636363;
}
#year-lower, #year-upper {
    font-size: 130%;
    font-weight: bold;
}
#infoAdmin {
    position: absolute;
    top: 10px;
    left: 46px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    min-width: 150px;
    z-index: 1;
    background: #2b2b2b;
}
#infoAdmin-name {
    font-weight: bold;
    font-size: 120%;
}
#infoAdmin p {
    margin-bottom: 0px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #2b2b2b;
    border-color: #000;
    color: #f0f0f0;
}

#povertyBubbles circle {
    stroke: #f5f5f5;
    fill-opacity: 0.7;
    stroke-opacity:0.2;
}

.container-fluid, .col-custom{
	padding: 0px;
}
.clickable{
    cursor: pointer;
}
#infoWrapper{
    overflow: auto;
    background: #111;
}
#infoText{
    padding: 20px;
}
.glyphicon-custom {
    position: static;
    cursor: pointer;
    font-size: 14px;
}
.legend-stormintensity {
    display: inline-block;
    width: 16px;
    height: 4px;
    margin-bottom: 3px;
}
.legend-colorbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.legend-colorbox2 {
    display: inline-block;
    width: 11%;
    height: 12px;
    border:1px solid white;
}
#populationcolorscale {
    border: 2px solid #f5f5f5;
}

#year-range {
    width: 90%;
    margin: 0px auto;
}


.datatoggle{
    font-size: 110%;
}
.datasource{
    color:#6d6e70;
}

.leaflet-container{
	/*background: #D5F0FD;*/
    background: #111;

}


#loading-wrapper{
    position:absolute;
    left:0;
    right:0;
    height:100%;
    text-align: center;
    z-index: 99999;
    background: rgba(0,0,0,0.6);
}
#loader{
    width: 150px;
    margin: 30px 0;
}
#loading-progress{
    margin:30px auto;
    width: 210px;
    border-radius: 4px;
    background: #222;
    text-align: center;
}


.municipality{
	stroke: #757571;
	fill: #434341;
    stroke-width: 0.5px;
	cursor: pointer;
	/*fill-opacity: 0.6;*/
}
.otherCountry{
    stroke: #111;
    fill: #404040;   
}
.stormpath{
    cursor: pointer;
    opacity: 0.6;
}
.stormpath.active{
    stroke-width: 9px;
    opacity: 1.0;
} 
.intensityMissing{
    stroke: #DBDBDB;
    background: #DBDBDB;
    opacity: 0.4;
    stroke-width: 2px;
}
.td{
    stroke: #5ebaff;
    opacity: 0.5;
    stroke-width: 3px;
    background: #5ebaff;
}
.ts{
    stroke: #00faf4;
    opacity: 0.5;
    stroke-width: 4px;
    background: #00faf4;
}
.c1{
    stroke: #feb24c;
    background: #feb24c;
    stroke-width: 5px;
}
.c2{
    stroke: #fd8d3c;
    background: #fd8d3c;
    stroke-width: 5px;   
}
.c3{
    stroke: #fc4e2a;
    background: #fc4e2a;
    stroke-width: 6px;    
}
.c4{
    stroke: #e31a1c;
    background: #e31a1c;
    stroke-width: 7px;    
}
.c5{
    stroke: #b10026;
    background: #b10026;
    stroke-width: 8px;   
}

#tooltip {                      
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;       
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 2px;       
}    
#tooltip:empty {
    display:none;
}
path {
  -webkit-transition: fill 200ms linear;
}

.popcolor{
    stroke: none;
}

.overOSM {    
    stroke: #757571;
    fill-opacity: 0.0;
}

/* purples */
/* ===== */
.q0-9 { fill:#fcfbfd; }
.q1-9 { fill:#efedf5; }
.q2-9 { fill:#dadaeb; }
.q3-9 { fill:#bcbddc; }
.q4-9 { fill:#9e9ac8; }
.q5-9 { fill:#807dba; }
.q6-9 { fill:#6a51a3; }
.q7-9 { fill:#54278f; }
.q8-9 { fill:#3f007d; }

.q0-9 { background:#fcfbfd; }
.q1-9 { background:#efedf5; }
.q2-9 { background:#dadaeb; }
.q3-9 { background:#bcbddc; }
.q4-9 { background:#9e9ac8; }
.q5-9 { background:#807dba; }
.q6-9 { background:#6a51a3; }
.q7-9 { background:#54278f; }
.q8-9 { background:#3f007d; }

/* blues */
/* ===== */
/*.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.q0-9 { background:rgb(247,251,255); }
.q1-9 { background:rgb(222,235,247); }
.q2-9 { background:rgb(198,219,239); }
.q3-9 { background:rgb(158,202,225); }
.q4-9 { background:rgb(107,174,214); }
.q5-9 { background:rgb(66,146,198); }
.q6-9 { background:rgb(33,113,181); }
.q7-9 { background:rgb(8,81,156); }
.q8-9 { background:rgb(8,48,107); }*/

/* grays */
/* ===== */
/*.q0-9 { fill:#ffffff; }
.q1-9 { fill:#f0f0f0; }
.q2-9 { fill:#d9d9d9; }
.q3-9 { fill:#bdbdbd; }
.q4-9 { fill:#969696; }
.q5-9 { fill:#737373; }
.q6-9 { fill:#525252; }
.q7-9 { fill:#252525; }
.q8-9 { fill:#000000; }*/

/*.q0-9 { background:#ffffff; }
.q1-9 { background:#f0f0f0; }
.q2-9 { background:#d9d9d9; }
.q3-9 { background:#bdbdbd; }
.q4-9 { background:#969696; }
.q5-9 { background:#737373; }
.q6-9 { background:#525252; }
.q7-9 { background:#252525; }
.q8-9 { background:#000000; }*/




/* slider styling */
/* ============== */

.noUi-connect{
    background: #6d6e70;
}
.noUi-background {
    background: #3d3d3d;
    box-shadow: none;
}
.noUi-target {
    border-color: #000;
    box-shadow: none;
}
.noUi-handle {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    border: 1px solid #000;
    border-radius: 3px;
    background: #b0aba0;
    box-shadow: inset 0 0 1px #000,
                inset 0 1px 7px #000,
                0 3px 6px -3px #000;
}
.noUi-handle:before,
.noUi-handle:after {
    background: #000;

}
